# CometChat Configuration Template
COMETCHAT_APP_ID=your_cometchat_app_id
COMETCHAT_REGION=your_cometchat_region
COMETCHAT_AUTH_KEY=your_cometchat_auth_key
COMETCHAT_REST_API_KEY=your_cometchat_rest_api_key
